.logo-slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 120px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .logo-slide-track {
    animation: logo-scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 10);
  }
  
  .logo-slide {
    height: 120px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  @keyframes logo-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5));
    }
  }
  
  .logo-slide img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .logo-slide:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }